*,
*::before,
*::after {
  font-size: 16px;
  font-style: "Lucida Sans Unicode", "Wingdings";
}

body {
  height: 100vh;
}

.text-bar {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  width: 40vw;
  height: 100vh;
}

.inner-text-bar {
  display: flex;
  justify-content: center;
  padding: 3em;
}

.input-text {
  width: 100%;
  line-height: 2em;
}

.send-icon {
  height: 2em;
}

.chat {
  height: calc(100vh - 140px);
  overflow-y: scroll;
}

.chat::-webkit-scrollbar {
  display: none;
}

.inner-chat-wrapper {
  display: flex;
  justify-content: end;
  width: 100%;
}

.inner-chat {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #F0F0F0;
  background-color: #F0F0F0;
  padding: 0.5em 0em;
  margin: 1em;
  border-radius: 2em 2em 0 2em;
  max-width: 60%;
}

.inner-chat button {
  transform: translate(-25%, 20%);
}

.inner-chat button {
  visibility: hidden;
}

.inner-chat:hover button {
  visibility: visible !important;
  color: rgb(162, 162, 162);
}

.chat p {
  word-wrap: break-word;
  padding: 0 1em;
}

.ininner-chat-tools {
  display: flex;
  flex-direction: column;
  width: 20px;
}